{# Define menu sections configuration #}
{% set menu_sections = [
  {
    title: 'Design',
    menu: design_menu,
	item_classes: 'py-5 pr-5'
  },
  {
    title: 'Technology', 
    menu: development_menu,
    item_classes: 'py-5 pr-5'
  },
  {
    title: 'Marketing',
    menu: marketing_menu,
	item_classes: 'py-5 pr-5'

  }
] %}

<div
	class="menu-nav pointer-events-none fixed w-full z-[58] lg:flex flex-row top-headerHeight hidden overflow-hidden opacity-0">

	{# Social media bar #}
	<div class="menu-socialsbar flex px-6 py-4 absolute bottom-0 left-0 z-[49] w-1/2 border-t border-r border-b">
		{% for item in socials_menu.get_items %}
			<a href="{{ item.link }}" target="_blank" class="social-item social-item-header scramble-text-parent border rounded-full px-4 py-2 text-sm cursor-pointer menu-badge pointer-events-auto">
				<span class="scramble-text font-mono cursor-pointer uppercase">
					{{ item.title }}
				</span>
			</a>
		{% endfor %}
	</div>

	{# Menu sections loop #}
	{% for section in menu_sections %}
		<div class="menu-column border-r border-b w-1/4 flex flex-col p-6 gap-6 pb-24">
			<span class="menu-heading is-h4">{{ section.title }}</span>
			<ul class="flex flex-col">
				{% for item in section.menu.get_items %}
					<li class="relative overflow-hidden py-1">
						<a href="{{ item.link }}" target="{{ item.target }}" class="menu-item scramble-text font-mono text-sm {{ section.item_classes|default('') }} uppercase pointer-events-auto transition-colors">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}

	{# Main menu and CTA section #}
	<div class="menu-column border-r border-b w-1/4 flex flex-col p-6 gap-6">
		{% for item in main_menu.get_items %}
			<a href="{{ item.link }}" target="{{ item.target }}" class="main-menu-item hover:opacity-70 menu-heading transition-opacity duration-200 is-h4 pointer-events-auto">{{ item.title }}</a>
		{% endfor %}
		<a class="get-started-btn menu-heading scramble-inner border py-3 px-5 flex flex-row gap-3 items-center rounded-full w-fit pointer-events-auto" href="/contact">
			{% include 'icons/heading-dot.twig' %}
			<span class="is-h4 scramble-part">Get started</span>
		</a>
	</div>
</div>
