<section class="!py-0 flex flex-col-reverse lg:grid grid-cols-2">
	<div class="content-container p-4 md:p-6 lg:p-8 xl:p-12 py-12 flex flex-col gap-10 max-lg:border-b lg:border-r border-borderLight">
		<div class="block-content !gap-9 max-w-xl">{{ block.content }}</div>
		{% if block.quote %}
			<div class="border border-borderLight flex flex-col gap-2 p-4">
				<div class="block-content">{{ block.quote_group.content }}</div>
				<span class="text-textLight">{{ block.quote_group.name_and_job_title }}</span>
			</div>
		{% endif %}
		{% if block.link %}
			{% include "partials/button.twig" with { link: block.link.url, title: block.link.title, target: block.link.target } %}
		{% endif %}
	</div>
	<div class="p-4 md:p-6 border-b border-borderLight">

		{% if block.content_type == 'image' %}
			{% if block.image %}
				<img src="{{ get_image(block.image).src }}" alt="{{ block.image.alt }}" class="w-full aspect-[5/3] object-contain">
				{% if block.image.caption %}
					<p class="-mt-3 rounded-full px-3 py-1 bg-bgLight/50 backdrop-blur-sm text-textDarkSubtle font-mono w-fit uppercase text-[12px] border border-bgLight/30 ml-4">{{ block.image.caption }}</p>
				{% endif %}
			{% endif %}
		{% endif %}

		{% if block.content_type == 'video' %}
			{% if block.video %}
				<div class="aspect-video">
					<div class="video-inner h-full w-full flex justify-center items-center">
						<div class="relative aspect-video w-full">
							<video src="{{ block.video.src }}" class="w-full h-full top-0 left-0 absolute object-cover" autoplay muted loop></video>
						</div>
					</div>
					{% if block.video.caption %}
						<p class="-mt-3 rounded-full px-3 py-1 bg-bgLight/50 backdrop-blur-sm text-textDarkSubtle font-mono w-fit uppercase text-[12px] border border-bgLight/30 ml-4">{{ block.video.caption }}</p>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}

		{% if block.content_type == 'html'%}
			{% if block.html %}
				<div class="w-full h-full flex items-center justify-center">{{ block.html }}</div>
			{% endif %}
		{% endif %}
	</div>
</section>
