<section class="!py-0 grid grid-cols-1 lg:grid-cols-2 border-b border-borderLight">
	<div class="flex flex-col border-borderLight lg:border-r">
		<div class="flex flex-col gap-8 p-4 lg:p-6 py-8 lg:pb-12 border-borderLight border-b h-full">
			<h1 class="max-w-[600px]">{{ post.title }}</h1>
			<div class="flex flex-row gap-4">
				{% for term in post.terms('category') %}
					<h3 class="is-supertitle border border-borderLight rounded-full py-2.5 px-4 !leading-none">{{ term.title }}</h3>
				{% endfor %}
			</div>
		</div>
		<div class="p-4 lg:p-6 flex flex-row items-center gap-4 border-borderLight {% if post.speech_widget %} border-b {% endif %}">
			<div class="relative size-11 rounded-full overflow-hidden bg-white">
				{% if post.author.profile_picture_image %}
					<img src="{{ get_image(post.author.profile_picture_image).src }}" alt="Display picture of {{ post.author }}" class="absolute top-0 left-0 w-full h-full object-cover">
				{% endif %}
			</div>
			<div class="flex flex-col mt-1 gap-0.5">
				<h2 class="text-base">{{ post.author.display_name }}</h2>
				<p class="text-sm text-black/50">{{ post.author.job_title }}
					at The Start</p>
			</div>
		</div>

		{% if post.speech_widget %}
			<div class="p-4 lg:p-6 border-b border-borderLight">
				{{ post.speech_widget}}
			</div>
		{% endif %}

	</div>
	<div class="p-4 md:p-6">
		<img src="{{ get_image(post.thumbnail).src }}" alt="{{ post.thumbnail.alt }}" class="w-full aspect-5/3 object-cover">
	</div>
</section>
