<section id="feature-panels" class="!pt-0 bg-bgLight">
	<div class="container">
		<div class="border-x border-b border-borderLight grid grid-cols-1 lg:grid-cols-2">
			{% for panel in post.feature_panels.panel %}
				<a href="{{ panel.link.url}}" data-mouse-content="visit" class="flex flex-col p-4 md:p-6 pb-8 gap-6 {{ loop.index == 1 ? 'max-lg:border-b lg:border-r border-borderLight' : '' }}">
					<div class="w-full h-[400px] md:h-[550px] relative bg-textDark">
						<img src="{{ get_image(panel.logo).src }}" alt="{{ panel.logo.alt }}" class="max-w-[180px] max-h-[150px] w-full h-full object-contain absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
						<span class="is-supertitle text-bgLight absolute left-1/2 -translate-x-1/2 bottom-8 z-20">{{ panel.heading }}</span>
						<canvas id="{{ loop.index == 1 ? 'node-canvas' : 'ascii-canvas' }}" class="absolute inset-0 w-full h-full"></canvas>
					</div>
					<div class="block-content max-w-xl">{{ panel.content }}</div>
				</a>
			{% endfor %}

		</div>
	</div>
</section>
