<div id="hero-trigger-container" class="bg-[#111114] h-[900lvh]">
	{% for image in post.hero.gallery %}
		<img src="{{ get_image(image).src }}" alt="" class="three-js-images sr-only">
	{% endfor %}
	<section id="home-three-hero" class="w-full h-lvh !py-0 relative z-50">
		<section class="w-full h-full !py-0 flex flex-col justify-stretch absolute inset-0">
			<div class="container max-w-full pointer-events-none">
				<div class="w-full relative flex h-lvh">
					<div id='hero-text-1' class="block-content w-[calc(100%-2rem)] max-w-[400px] xl:max-w-[510px]  2xl:max-w-[580px] 3xl:max-w-[620px] absolute left-0 bottom-12 opacity-0">
						<div class="block-content text-bgLightDarker !gap-0.5">{{ post.hero.top_heading }}</div>
						<div class="block-content text-bgLightDarker/70">{{ post.hero.top_supertitle }}</div>
					</div>
					<div id='hero-text-2' class="block-content text-bgLightDarker w-[calc(100%-2rem)] max-w-[400px] xl:max-w-[510px] 2xl:max-w-[580px] 3xl:max-w-[620px] items-end text-right absolute right-0 top-20 lg:top-1/2 lg:-translate-y-1/2 opacity-0">
						<div class="block-content text-bgLightDarker/70">{{ post.hero.middle_supertitle }}</div>
						<div class="block-content text-bgLightDarker !gap-0.5">{{ post.hero.middle_heading }}</div>
					</div>
					<div id='hero-text-3' class="block-content text-bgLightDarker w-[calc(100%-2rem)] max-w-[400px] xl:max-w-[510px] 2xl:max-w-[580px] 3xl:max-w-[620px] text-center items-center absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0">
						<div class="block-content text-bgLightDarker/70">{{ post.hero.end_supertitle }}</div>
						<div class="block-content text-bgLightDarker !gap-0.5">{{ post.hero.end_heading }}</div>
					</div>
					<div id='hero-text-4' class="block-content text-bgLightDarker w-[calc(100%-2rem)] max-w-[400px] xl:max-w-[510px] 2xl:max-w-[580px] 3xl:max-w-[620px] absolute left-0 max-lg:bottom-12 lg:top-1/2 lg:-translate-y-1/2 opacity-0">
						<div class="block-content text-bgLightDarker/70">{{ post.hero.final_heading }}</div>
						<div class="block-content text-bgLightDarker !gap-0.5">{{ post.hero.final_supertitle }}</div>
					</div>
				</div>
			</div>


			<div class="hero-curtains absolute bg-bgLight w-[calc(1rem+1px)] lg:w-[calc(2rem+1px)] h-0 bottom-0 left-0 border-r border-borderLight z-40 will-change-transform"></div>
			<div class="flex flex-row items-end absolute left-[calc(1rem+1px)] lg:left-[calc(2rem+1px)] bottom-0 w-[calc(100%-2rem-2px)] lg:w-[calc(100%-4rem-2px)] h-full z-30">
				{% for _ in 1..4 %}
					<div style="--z:{{ loop|length - loop.index0 }};" class="hero-curtains bg-bgLight w-full h-0 will-change-transform relative -ml-px z-[--z] {{ loop.last ? '' : 'border-r border-borderLight' }}"></div>
				{% endfor %}
			</div>
			<div class="hero-curtains absolute bg-bgLight w-[calc(1rem+1px)] lg:w-[calc(2rem+1px)] h-0 bottom-0 right-0 border-l border-borderLight z-30 will-change-transform"></div>
		</section>
	</section>

</div>
