{% set posts  = fn('get_pulse_posts') %}

<section id="home-pulse" class="!py-0 bg-bgLight relative z-[52]">
	<div class="container">
		<div class="border-x border-borderLight flex flex-col">
			<div class="header-items border-b border-borderLight py-8 px-4 md:px-10 flex flex-row items-end gap-4">
				<div class="circle mb-1.5 xl:mb-2"></div>
				<div class="flex flex-row gap-2">
					<h4 class="is-h2">The Pulse</h4>
				</div>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-3">
				{% for post in posts %}
					<article class="tease tease-{{ post.post_type }} border-b {{ loop.last ? '' : 'lg:border-r' }} border-borderLight w-full relative flex flex-col" id="tease-{{ post.ID }}">
						<a href="{{ post.link }}" class="flex absolute w-full h-full inset-0 z-10" data-mouse-content="{{ post.title }}"></a>
						<div class="flex p-4 md:p-6 border-b border-borderLight">
							<div class="relative w-full aspect-16/9 flex bg-black">
								{% if post.thumbnail %}
									<img src="{{ get_image(post.thumbnail).src }}" alt="{{ post.thumbnail.alt }}" class="absolute top-0 left-0 h-full w-full object-cover"/>
								{% endif %}
							</div>
						</div>
						<div class="relative p-4 md:p-6 max-md:pb-12 md:py-12 flex flex-col gap-6 justify-center">
							{% if not hide_date %}
								<span class=" absolute top-0 right-0 py-2.5 px-4 border-l border-b border-borderLight text-textLight text-xs">{{ post.date|date("F Y")|upper }}</span>
							{% endif %}
							<div class="flex flex-col gap-6 max-w-[600px]">
								<div class="flex flex-row gap-4">
									{% for term in post.terms('category') %}
										<span class="is-supertitle border border-borderLight rounded-full py-2.5 px-4 !leading-none">{{ term.title }}</span>
									{% endfor %}
								</div>
								<span class="is-h3 max-md:w-[calc(100%-6rem)]">
									{{ post.title }}
								</span>
								<p>{{ post.excerpt }}</p>
							</div>
						</div>
					</article>

				{% endfor %}
			</div>
		</div>
		{% include "partials/home/spacer.twig" %}
	</div>
</section>
