<div class="bg-bgLight container">
	<div class="grid grid-cols-2 lg:grid-cols-4 border-x border-borderLight">
		<div class="lg:border-r border-borderLight col-span-full lg:col-span-3">
			<div class="w-full border-b border-borderLight">
				<div class="px-6 py-2 md:py-4">
					<span class="label">Technology</span>
				</div>
			</div>
			<div class="grid grid-cols-3 h-auto">
				<div class="grid grid-cols-1 md:grid-cols-2 is-supertitle text-textDark col-span-full lg:col-span-2">
					{% for item in block.technologies %}
						<div class="flex flex-row items-start justify-between gap-8 border-b border-borderLight {{ loop.index % 2 != 0 ? 'md:border-r' : '' }} p-6">
							<span class="">{{ item.title }}</span>
							<span class="text-right">{{ item.content }}</span>
						</div>
					{% endfor %}
				</div>
				<div class="row-span-full col-start-3 border-l border-b md:border-b-0 border-borderLight max-lg:hidden"></div>
			</div>
		</div>
		<div class="col-span-full lg:col-span-1">
			<div class="w-full border-b border-borderLight">
				<div class="px-6 py-2 md:py-4">
					<span class="label">MORE PROJECTS</span>
				</div>
			</div>
			<div class="w-full grid grid-cols-1">
				{% for project in block.projects %}
					{% if project %}
						<a href="{{ site.url }}/work/{{ project.slug }}" class="w-full flex flex-row gap-3 items-center py-3 px-6 {% if not loop.last %} border-b {% endif %} border-borderLight group relative scramble-inner">
							<div class="size-9 rounded-full overflow-hidden relative z-20">
								{% set work_icon = function('get_field', 'work_icon', project.id) %}
								{% set featured_image = function('get_the_post_thumbnail_url', project.id, 'thumbnail') %}

								{% if work_icon %}
									<img src="{{ work_icon.url }}" alt="{{ project.title }}" class="w-full h-full object-cover">
								{% elseif featured_image %}
									<img src="{{ featured_image }}" alt="{{ project.title }}" class="w-full h-full object-cover">
								{% else %}
									<div class="w-full h-full bg-gradient-to-b from-[#ccc] to-[#111114]"></div>
								{% endif %}
							</div>
							<span class="text-textDark text-base scramble-part group-hover:text-bgLight duration-300 ease-fancy relative z-20">{{ project.title }}</span>
							<div class="bg-textDark bottom-0 left-0 w-full h-0 absolute ease-fancy duration-300 group-hover:h-full"></div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="bg-bgLight border-t border-borderLight col-span-4">
			<div class="w-full bg-bgLight h-16 grid grid-cols-4">
				<div class="border-r border-borderLight"></div>
				<div class="border-r border-borderLight"></div>
				<div class="border-r border-borderLight"></div>
			</div>
		</div>
	</div>
</div>
