{% macro render_media(media, thumbnail) %}
	{% if media %}
		<div class="relative overflow-hidden">
			{% set ext = media.src|split('.')|last|lower %}
			{% if ext in ['mp4', 'webm', 'ogg', 'mov'] %}
				{% if thumbnail %}
					<img src="{{ thumbnail.src }}" alt="{{ thumbnail.alt|default(thumbnail.post_title) }}" class="object-cover absolute top-0 left-0 w-full h-full"/>
				{% endif %}
				<video src="{{ media.src }}" class="parallax-media relative object-cover w-full" autoplay muted loop playsinline>
					Your browser does not support the video tag.
				</video>
			{% else %}
				<img src="{{ media.src }}" alt="{{ media.alt|default(media.post_title) }}" class="parallax-media w-full h-auto object-contain"/>
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% import _self as helpers %}

{# Create array of media items #}
{% set media_items = [] %}
{% for i in 1..5 %}
	{% set video_field = i == 1 ? 'video' : 'video_' ~ i %}
	{% set image_field = i == 1 ? 'image_1' : 'image_' ~ i %}
	{% set thumbnail_field = i == 1 ? 'thumbnail' : 'thumbnail_' ~ i %}
	
	{% set video = attribute(block, video_field) %}
	{% set image = attribute(block, image_field) %}
	{% set thumbnail = attribute(block, thumbnail_field) %}
	
	{% if video or image %}
		{% set media_items = media_items|merge([{
			'media': video ?: image,
			'thumbnail': video ? thumbnail : null,
			'index': i
		}]) %}
	{% endif %}
{% endfor %}

<div class="container bg-bgLight">
	<div class="border-b border-x border-borderLight flex lg:flex-row flex-col">
		{% for item in media_items %}
			<div class="w-full p-6 relative overflow-hidden {{ not loop.first ? 'border-t lg:border-t-0 lg:border-l border-borderLight' }}">
				{{ helpers.render_media(item.media, item.thumbnail) }}
			</div>
		{% endfor %}
	</div>
</div>
