<section class="!py-0 w-full text-textDark bg-bgLight">
	<div class="container">
		<div id="team-three-container" class="h-lvh border-x border-b border-borderLight p-6 relative overflow-hidden">
			<div class="block-content relative indent-6 z-20 pointer-events-none">
				<span class="absolute left-0.5 top-3 xl:top-5 2xl:top-6" aria-hidden="true">
					{{ include('icons/heading-dot.twig') }}
				</span>
				<h3 class="is-h1">The Team</h3>
			</div>

			<div class="tracker-element absolute border border-borderLight z-50 pointer-events-none opacity-0">
				<div class="tracker-element-details flex flex-col items-center text-center absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+1rem)] w-[300px] is-supertitle">
					<div class="text-textDark"></div>
					<div class="text-textDark/50"></div>
					<div class="text-textDark/50"></div>
				</div>

				{# top left plus #}
				<span class="internal-heading-plus absolute top-[-5.5px] left-[-5.5px]">
					{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#BEBEBE]' }) }}
				</span>

				{# top right plus #}
				<span class="internal-heading-plus absolute top-[-5.5px] right-[-5.5px]">
					{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#BEBEBE]' }) }}
				</span>

				{# bottom left plus #}
				<span class="internal-heading-plus absolute bottom-[-5.5px] left-[-5.5px]">
					{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#BEBEBE]' }) }}
				</span>

				{# bottom right plus #}
				<span class="internal-heading-plus absolute bottom-[-5.5px] right-[-5.5px]">
					{{ include('icons/plus.twig', { class: 'w-2.5 h-2.5 text-[#BEBEBE]' }) }}
				</span>
			</div>

			<div class="hidden">
				{% for team in block.team_member %}
					<div team-id="{{ loop.index0 }}" team-name="{{ team.name }}" team-job-title="{{ team.job_title }}" team-year-started="{{ team.year_started|date('Y') }}" team-glb-link="{{ team.glb.src }}"></div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
