{% set testimonials = [
	{
		'number': '01',
		'quote': block.quote_1,
		'image': block.image_1,
		'name': block.name_1,
		'company': block.company_1,
		'isFirst': true
	},
	{
		'number': '02',
		'quote': block.quote_2,
		'image': block.image_2,
		'name': block.name_2,
		'company': block.company_2,
		'isFirst': false
	}
] %}

<div class="bg-bgLight container">
	<div class="flex lg:flex-row flex-col border-x border-b border-borderLight">
		{% for testimonial in testimonials %}
			<div class="w-full lg:w-1/2 flex-col lg:flex-row flex gap-10 {{ testimonial.isFirst ? 'lg:border-r lg:border-b-0 border-borderLight border-b' : '' }}">
				<div class="flex flex-col gap-10 w-full">
					<div class="flex flex-col p-6 gap-10">
						<span class="text-sm text-gray-300">{{ testimonial.number }}</span>
						<div class="text-textDark max-w-xl">{{ testimonial.quote }}</div>
					</div>
					<div class="label flex flex-row items-center gap-4 p-6 mt-auto border-t border-borderLight">
						{% if testimonial.image %}
							<div class="flex size-14 rounded-full overflow-hidden">
								<img src="{{ testimonial.image }}" alt="{{ testimonial.name }}" class="w-full h-full object-cover object-center"/>
							</div>
						{% endif %}
						<div class="flex flex-col">
							<span>{{ testimonial.name }}</span>
							{% if testimonial.company %}
								<span class="text-textDarkSubtle">{{ testimonial.company }}</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
